<link rel="stylesheet" href="/css/mota.css">
   <%- include('partials/navigation_bar.ejs') %>

<body>
    <div class="mota-container">
        <header class="mota-profile-header">
            <img src="/images/quy.jpg" alt="Ảnh em Nguyễn Ngọc Quý">
            <h1>Nguyễn Ngọc Quý</h1>
            <p class="mota-code">Mã số: ĐL002</p>
        </header>

        <section class="mota-content">
            <h2>Hoàn cảnh gia đình</h2>
            <p>
                Em Nguyễn Ngọc Quý có một hoàn cảnh gia đình rất éo le. Hiện tại, Quý đang sinh sống cùng ông bà ngoại
                trong một căn nhà nhỏ đã xuống cấp tại Buôn Ma Thuột, tỉnh Đắk Lắk.
            </p>
            <p>
                Mẹ của Quý không may đã qua đời sớm, để lại em cho sự chăm sóc của ông bà. Đáng buồn hơn, người bố cũng
                không còn ở bên cạnh để cùng ông bà san sẻ gánh nặng và yêu thương em. Ông bà ngoại, dù tuổi đã cao và
                sức khỏe ngày một yếu đi, là chỗ dựa tinh thần và vật chất duy nhất của Quý.
            </p>

            <h2>Cuộc sống mưu sinh của ông bà</h2>
            <p>
                Cuộc sống của ba ông cháu rất chật vật và khó khăn. Để có tiền trang trải sinh hoạt hàng ngày và lo cho
                Quý ăn học, cũng như thuốc thang cho tuổi già, bà ngoại của Quý phải đi làm thuê công việc rửa bát.
            </p>
            <p>
                Trong khi đó, ông ngoại đã lớn tuổi nhưng hàng ngày vẫn phải dậy từ 3 giờ sáng để đi bán vé số. Số tiền
                kiếm được từ công việc vất vả này cũng chỉ đủ đắp đổi qua ngày và lo cho việc chữa bệnh của ông bà.
            </p>
            <h2>Lời kêu gọi</h2>
            <p>
                Hoàn cảnh của em Nguyễn Ngọc Quý rất cần sự chung tay giúp đỡ của cộng đồng để em có thể tiếp tục đến
                trường và có một tương lai tươi sáng hơn, đồng thời san sẻ bớt gánh nặng cho ông bà ngoại đã già yếu.
            </p>
        </section>

        <section class="mota-qr-code-section">
            <h2>Chung tay giúp đỡ em Quý</h2>
            <p>Mọi sự đóng góp, dù nhỏ bé, đều là nguồn động viên to lớn cho em Quý và gia đình.</p>
            <img src="/images/qr_momo.jpg" alt="Mã QR ủng hộ em Nguyễn Ngọc Quý">
            <p>Xin chân thành cảm ơn!</p>
        </section>

        
    </div>
</body>
<%- include('partials/footer.ejs') %>