 <link rel="stylesheet" href="/css/main_bar.css">  
<link rel="stylesheet" href="/css/login.css">
   
   <%- include('partials/navigation_bar.ejs') %>
   <main class="login-page-main">
        <div class="login-container">
            <h2>Đăng nhập tài khoản</h2>
            <% if (typeof error !== 'undefined') { %>
    <div style="color: red; margin-bottom: 15px;"><%= error %></div>
<% } %>
            <form action="/xu-ly-dang-nhap" method="POST"> <div class="form-group">
                    <label for="username">Tên đăng nhập hoặc Email :</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Mật khẩu:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="form-actions">
                    <button type="submit" class="login-submit-button">Đăng nhập</button>
                </div>
                <div class="form-links">
                    <a href="/quen-mat-khau">Quên mật khẩu?</a>
                    <span>|</span>
                    <a href="/register">Chưa có tài khoản? Đăng ký</a>
                </div>
            </form>
        </div>
    </main>
    <%- include('partials/footer.ejs') %>