<div id="leaderboard-popup" class="leaderboard-popup-container" style="display: none;">
    <div class="leaderboard-header">
        <h3>๐Bแบฃng Xแบฟp Hแบกng</h3>
        <button id="close-leaderboard-btn" class="close-leaderboard-button">&times;</button>
    </div>
    <div id="leaderboard-content" class="leaderboard-list">
        <p class="leaderboard-loading">ฤang tแบฃi bแบฃng xแบฟp hแบกng...</p>
    </div>
    <p class="leaderboard-footer">
        Bแบฃng xแบฟp hแบกng sแบฝ tแปฑ ฤแปng แบฉn sau khi ฤรณng.
    </p>
</div>